
<header class="flex justify-between items-center py-3 w-[1120px] mx-auto">
    <div class="flex items-center gap-4">
        <img 
        src="../static/ProfileTapia.jpeg" 
        class="rounded-full size-10"
        alt="Tapia.jpg">
        <div class="flex flex-col">
          <p class="font-light text-sm">Luis M. Tapia</p>
          <p class="font-light text-xs">Software Developer</p>
        </div>
    </div>
    
    <nav class="flex flex-row gap-x-10 opacity-90">
        <a href="/">Inicio</a>
        <a href="#proyectos">Proyectos</a>
        <a href="/">Sobre mí</a>
        <a href="/">Habilidades</a>
    </nav>
</header>